*{
  border:1px solid black;

}

header{
  width: 585.13px;
  height: 1080.53px;
  top: -6px;
  background: #CE2829;
  background-image: url("https://s3-alpha-sig.figma.com/img/2b78/c96a/4a4acb450e3bbb3750c05c017efa1f61?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XPVNiteSnTrTt~99xEvdlNzBqt5Tkz9XP46evqjiXPa9K-VytNbNfD1mOcQ4jRxnCM016SVRJxiRkUGSczgg6knFSQeyvuZ7QZqA7XwZx7AnM3IY9VvrJ~rMmNdYGgBtVBTN9tF6p0oeQWko7BB0GjyCPn2OBjIhh2MGC~9tBpQnpiOZS4BllmULjpwQ4Ik49O5K1zCDFMLlopjrBOOgbvTRb-hqV~2GfHKEzWqTdGie8AZ5UAg9hkJH60SEebg~KeD8-M3X7oZCTfdKF0JtGyGbw9kcXylSVLnNpqUHghrPXbf0E1LxFcprbRyti9xK~PCSdyvqxozYwo626IyV4A__");
  background-position: center 120%;
  background-repeat: no-repeat;
}
.main-page-content{
  width:398px;
  height: 854px;
  margin-top: 120px;
  margin-bottom: 120px;
  margin-left: 71px;
  margin-right: 71px;
  opacity: 0px;
  text-align:center;
}
header h1{
  width: 398px;
height: 45.79px;
  font-family: "Londrina Solid", sans-serif;
  color:white;
  font-size:3rem;
  text-align: center;

}
header p{
  width: 100%;
  height: 368px;
  font-family: Roboto Condensed;
  font-size: 70px;
  font-weight: 300;
  line-height: 92px;
  letter-spacing: 1.5px;
  text-align: center;
  color:white;
  margin-bottom: 40px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header button{
  width: 193.27px;
height: 56px;
border-radius: 50px 50px 50px 50px;
background: #FDC913;
margin-bottom: 40px;
font-family: "Barlow";
font-size: 24px;
font-weight: 600;
line-height: 56px;
text-align: center;
justify-content: center;
}
.tanıtım{
  width: 585.13px;
  height: 1,842px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.choose-kitchen {
  display: flex;
  width: 585.13px;
  height:268px;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.kitchen{
display: flex;
width: 411.66px;
height: 246px;
gap: 41px;
margin: auto;
flex-wrap:wrap;
justify-content: center;
}
.kitchen div{
  width: 150px;
  height:42px;
  display: flex;
  align-items: center;
  }
  .kitchen img{
    margin-right: 5%;
  }
  .ozel-lezzet{
    width: 422px;
    height: 336px;
    border-radius: 12px 12px 12px 12px;
    background-image: url("public/assets/iteration-2/cta/kart-1.png");
    background-size:cover;
    background-repeat: no-repeat;
}
.ozel-lezzet-content{
  margin-top: 10%;
  margin-left: 10%;
}
.ozel-lezzet-metin{
  width: 288.18px;
  height: 148px;
  color:white;
  font-family: Quattrocento;
  font-size: 68px;
  font-weight: 700;
  line-height: 72px;
  margin-bottom: 0;
  margin-top: 0;
}
.ozel-lezzet-aciklama {
  width: 275px;
  height: 27px;
  font-family: Barlow;
font-size: 20px;
font-weight: 600;
line-height: 26.76px;
text-align: left;
color:white;
}
.siparis-ver{
  width: 138px;
height: 48px;
border-radius: 50px 50px 50px 50px;
color:red;
}
.hackathlon{
  width: 422px;
    height: 336px;
    border-radius: 12px 12px 12px 12px;
    background-image: url("public/assets/iteration-2/cta/kart-2.png");
    background-size:85%;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #292929;
}
.hackathlon-content{
  margin-top: 10%;
  margin-left: 8%;
}

.hackathlon-metin{
  width: 190.35px;
  height: 86px;
  color:white;
  font-family: Barlow;
  font-size: 32px;
  font-weight: 600;
  line-height: 44.27px;
  text-align: left;
  margin-top: 15%;

}

.npm-kurye{
  width: 422px;
    height: 336px;
    border-radius: 12px 12px 12px 12px;
    background: rgba(255, 238, 204, 1);
    background-image: url("https://s3-alpha-sig.figma.com/img/b205/d24a/40ed8009ff8742ced4cebd1f21b6c436?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HHfy-ccxxUXWNwffNtjt-62KMix74j-c7sq4AVGS5rlrfZAMkOABTj8HCRf0DcdRFxfAkZFjisMRviTFxDiyEQ1wrzawM5flxORALVys3IriyhfUIle~wWOnA7ApCX9rFBcmRWU3WFESpTF1sm-YLTw9j9mPVOSHhGVkihE-WEOf0KKXSuq~lMFvx8dzjkwakiIX~1hioGkDec4JF7n6kTsPKqjqEBEm45itzr2lljlWOrgLMjbGdJFSf~t39BbqmQJcypIzt0I-uHV9Y-HnqgauJuA0HMBxa3cJ8DLgja6vXqKghq2myHggxI78CBptRhXmiF38e7GXJO3p9XQ4xQ__"),url("https://s3-alpha-sig.figma.com/img/3eca/c553/7e43419d60a8258a07300efc67447fa4?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=p9ax3K-O0tkMYhrdBI5aXUgiBk3SllBakZottm3lNtP9g8bIwHcH~7MUzO4Ro3bOrc-ZA6LAhhuK-6UC-priYvfMSwmdwQxuCgPjnaKB406ahYT39n89xM6SuH0wf4gOJh1dcb5jTLxKaRdPcvNb7U6N2UwIFnQLQl1axRTTBnwLw9UhfGVB93XriBMi1flQ-jITXpPPBVtFsrGC~cFM4rvzOzHbDi0ndB1vzKlptPGZQKSFNh-2-RoHaf1TlB2f925q7H6P-VdmDtfqTGL7YGNnHG7n8XdJ8ILIbeoQkmHyFcBoy53CMoQs0FgvaZ-VVDqrE7qS~kubIWgZkJ4bTw__");
    background-size: 422px;
    background-position: bottom;
    background-repeat: no-repeat;
  }
.npm-content{
  width: 212px;
  height: 161px;
  margin-top: 10%;
  margin-left: 8%;
}

.npm-kurye-metin{
  width: 254px;
  font-family: Barlow;
  font-size: 32px;
  font-weight: 600;
  line-height: 44.27px;
  text-align: left;
}
.cok{
  font-family: Barlow;
  font-size: 32px;
  font-weight: 600;
  line-height: 44.27px;
  text-align: left;
  color:#D80027;
}
.en-cok-paketlenen{
  width:395px;
height:229px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.encokkırmızı{
  width: 395px;
  height: 46px;
  font-family: Satisfy;
  font-size: 32px;
  font-weight: 400;
  line-height: 44.27px;
  text-align: center;
  color: #CE2829;
  margin-bottom: 3%;
}
.encokbuyuk{
  width: 320px;
  height: 75%;
font-family: Barlow;
font-size: 42px;
font-weight: 600;
line-height: 56.2px;
text-align: center;
margin-top:0;
}
.menuler{
  width:420px;
height:1,609px;
display: flex;
justify-content: center;
}
  .menu-icerik{
    display: flex;
  }
  .metin-1{
    margin-right: 60%;
  }
  .metin-2{
    margin-right: 13%;
  }

  footer{
    background: #1A1A1A;
    color:white;
    width: 585.13px;
    height: 1291px;
    display: flex;
    justify-content: center;
  }
  .footer{
    display: flex;
    flex-direction: column;
    width: 412px;
    height:1,159.61px;
    gap: 80px;
    opacity: 0px;
  }
  .address-metin{
    width: 251px;
    height: 76.9px;
    font-family: Londrina Solid;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    text-align: left;

  }
  .footer-liste{
    display: flex;
    margin-left: 0;
  }
  .liste{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li{
    margin-bottom:1.5rem;
  }
  .footer-2{
    width: 306px;
height: 313px;
  }
  .footer-baslık{
    width: 98.39px;
height: 32px;
font-family: Barlow;
font-size: 24px;
font-weight: 500;
line-height: 32.11px;
text-align: left;
  }
  .footer-menu{
    width: 221px;
height:242.34px;
display: flex;
flex-direction:column;
gap:1.3rem;
text-decoration: none;
color:white;
  }
.footer-menu a{
text-decoration: none;
color:white;
}
.footer-3{
  width: 347px;
height:294px;
gap: 40px;
opacity: 0px;
}

.instagram-foto{
  display: flex;
  flex-wrap: wrap;
  width: 347px;
height: 256px;
align-items: flex-end;
margin-left: 0;
margin-right: 0;
justify-content: space-between;;

}
.footer-4{
  width: 412px;
  height: 69px;
}
.footer-final{
  width: 445.08px;
  height: 27px;
  display: flex;
}
.footer-final-metin{
  width: 445.08px;
  height: 27px;
}

