

body{
  margin: 0 auto;
  padding: 0;
  max-width: 576px;
  min-width: 380px;
  width: 100%;
  overflow-x: hidden;
}
.main-page-section{
background: #CE2829;
margin: 0;
padding: 15% 10% 10%;
background-image: url("https://s3-alpha-sig.figma.com/img/2b78/c96a/4a4acb450e3bbb3750c05c017efa1f61?Expires=1725235200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Q5SkFqVQKbw2YAz1LUq23sLCwF~9lrjVBEYMZMge2jWjH46ahGP6bf5HNwKjl8WfW7tagTE-Eys2W0EA4jdH4AoGbqB6z4mzSRjaVD6FieOI4rJgJ2Q903PL~X6wUlQUEfJ5ekubHGvM2a~kG7VyBG07akSH2adFhRLE5oDOIgRdIB8R~fJz~kR8S-Li88JdqKd34bx4N88Ckc-IVPek8AaclD3xP0WhTkudw2FKX75oV70X5H1zBNSvnN25kEnB8aYE4yLcpCxGXhdYzwzh8XRPm3KM7UNixCW9eby4T4jVqHHfWnZAWTm2f71FN8KHYY78p~2vZ7Myuqqqqxa~LA__");background-repeat: no-repeat;
background-position: center bottom;
background-size: 140%;
text-align: center;
}
.main-page-content{
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  justify-content: center;
}
.main-title{
 margin: 0;
 padding: 0;
 width: 100%;
}
.main-page-content h1{
  font-family: "Londrina Solid", sans-serif;
  color:white;
  text-align: center;
  font-size: calc(1.1rem + 6vw);
  letter-spacing: 0.01rem;
  margin: 0;
  width: 100%;
}
.text-main{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

}
.main-page-content p{
  font-family: Roboto Condensed;
  font-size: calc(2rem + 11vw);
  font-weight: 300;
  letter-spacing: 0.1rem;
  box-sizing: border-box;
  color: white;
  text-align: center;
  overflow:initial;
  flex-wrap: wrap;
  margin: 0;
}
.btn1{
  padding-bottom: 40%;
  text-align: center;
}
.main-button{
  border-radius: 3rem;
  background: #FDC913;
  font-family: "Barlow";
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  padding: 2% 9%;
  margin-bottom: 10%;
  border:none;
}
.content-section{
  display: flex;
  flex-direction: column;
  background-color: #faf8f2;
}
.choose-kitchen{
  margin: 0;
  padding: 1% 4%;
  background-color: #fff;
}
.kitchen{
  display: flex;
  align-items: center;
  padding: 4%;
  justify-content: space-evenly;
  gap: 2rem;
}
.group1 button,.group2 button{
display: flex;
align-items: center;
border-radius: 3rem;
  background: #fff;
  font-family: "Barlow";
  font-weight: 600;
  text-align: center;
  width: 10rem;
  height: 3rem;
  border:none;
  font-size: 1rem;
 
}
.group1, .group2{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: center;
  gap: 1.1rem;
  
}
.kitchen img{
  width: 2rem;
height: 1.5rem;
}
.img-content{
  margin: 10%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.ozel-lezzet{
    background-image: url("public/assets/iteration-2/cta/kart-1.png");
    background-size:100%;
    background-repeat: no-repeat;
    background-position: cover;
    border-radius: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    padding-right: 18%;
}
{
  .ozel-lezzet-conten{
    min-width: 460px;
    min-height: 100%;
  }
}

.ozel-lezzet-metin{
  color:white;
  font-family: Quattrocento;
  font-size: 8vh;
  font-weight: 700;
  margin:0;
}
.ozel-lezzet-aciklama{
  font-family: Barlow;
font-size: 2.5vh;
font-weight: 500;
color:white;
margin-top: 5%;
margin-bottom: 5%;
}
.siparis-ver{
border-radius: 4rem;
color:#CE2829;
padding: 5% 6%;
background: #FFFFFF;
border: none;
font-weight: 600;
}
.hackathlon{
  background-image: url("public/assets/iteration-2/cta/kart-2.png");
  background-size:75%;
  background-repeat: no-repeat;
  background-position:right center;
  background-color: #292929;
  border-radius: 0.8rem;
  padding: 5%;
  display: flex;
}
.hackathlon-metin{
  color:white;
  font-family: Quattrocento;
  font-size: 2rem;
  font-weight: 700;
  margin:0;
  margin-bottom: 5%;
  margin-top: 10%;
  padding-right: 40%;
 
}
.hackathlon-content{
  margin-top: 10%;
  margin-bottom: 10%;
}
.npm-kurye{
  background-image: url("public/assets/iteration-2/cta/npm.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: left center;
    border-radius: 0.8rem;
    padding: 5%;
    display: flex;
}
.npm-kurye-metin{
  font-family: Barlow;
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
  margin-top: 15%;
  margin-bottom: 4%;
  margin-right: 35%;
}
.cok{
  font-family: Barlow;
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
  color:#D80027;
}
.npm-content{
  margin-bottom: 10%;
}

.en-cok-paketlenen{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.encokkırmızı{
  font-family: Satisfy;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
  text-align: center;
  color: #CE2829;
  margin-bottom: 3%;
}
.en-cok{
  margin-left: 10%;
  margin-right: 10%;
  margin-top:0;
}
.encokbuyuk{
font-family: Barlow;
font-size: 2.5rem;
font-weight: 600;
text-align: center;
margin: 0;
margin-bottom: 7%;
}
.menuler{
display: flex;
justify-content: center;
margin-bottom: 2vh;
margin-top: 2vh;
}
.menu{
  background-color: #fff;
}
.met-1, .met-2, .met-3{
  font-family: Barlow;
font-size: 1.2rem;
font-weight: 600;
line-height: 29.44px;
text-align: left;
}
  .menu-icerik{
    display: flex;
    align-items: center;
  }
  .metin-1{
    margin-right: 50%;
    font-family: Barlow;
font-size: 1rem;
font-weight: 600;
color:#1B1B1BB2;

  }
  .metin-2{
    margin-right: 10%;
    font-family: Barlow;
    font-size: 1rem;
    font-weight: 600;
    color:#1B1B1BB2;
  
  }
  .metin-3{
    font-family: Barlow;
font-size: 1.3rem;
font-weight: 700;
text-align: right;
color:#292929;
  }

  footer{
    background: #1A1A1A;
    color:white;
    display: flex;
    justify-content: center;
    padding: 7%;
    margin: 0;
  }
  .footer{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin: 0;
    height: 100%;
  }
 .footer-1{
  margin-right: 15%;
 }
  .address-metin{
    font-family: Londrina Solid;
    font-size: 2.3rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 4%;

  }
  .liste{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }
  .footer-liste{
    text-align: left;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
  }
  .footer-2{
    display: flex;
    flex-direction: column;
  }
  .footer-baslık{
    font-family: Barlow;
font-size: 1.5rem;
font-weight: 500;
text-align: left;
color: #FFFFFF;
  }
  .footer-menu{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  .footer-menu a{
    text-decoration: none;
    color: #FFFFFF;
  }
  .instagram-foto{
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  }
  .instagram-foto>img{
    border-radius: 3px;
margin-bottom: 4%;
padding-right: 3%;
flex:0 0 23%;
  }
.footer-baslık{
  font-family: Barlow;
font-size: 1.5rem;
font-weight: 500;
text-align: left;
}
.footer-final{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #FFFFFF26
}
.footer-final-metin{
font-family: Barlow;
font-size: 1rem;
font-weight: 400;
text-align: left;
margin-top: 2rem;
}
.footer-final>i{
  margin-top:2rem;
}
.group1>button:hover{
  background-color: #1A1A1A;
  color:#fff;
}
.group2>button:hover{
  background-color: #1A1A1A;
  color:#fff;
}
@media (min-width: 577px) {
  .main-page-content h1{
    
    font-size:3rem;
  
  }
  .main-page-content p{

    font-size: 7rem;
  }
}